.BoxxOrga {
  display: flex;
  width: 90%;
  justify-content:space-between;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.appart-tag {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-weight: 400;
}

.tag {
  border-radius: 11px;
  color:white;
  background-color: #FF6060;
  padding: 5px 40px;
  font-weight: 500;  
}

.etoile-vide {
  color:gray;
}


@media screen and (max-width: 800px) {

  .BoxxOrga {
    flex-direction: column;
    width: 95%;
  }
    
}