.BoxxOrga {
  display: flex;
  justify-content:flex-start;
  margin-top: 20px;
  margin-left: 5%;
  gap:40px
}


.appart-tag {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-weight: 400;
}

.tag {
  border-radius: 11px;
  color:white;
  background-color: #FF6060;
  padding: 5px 40px;
  font-weight: 500;  
}

.etoile-vide {
  color:gray;
}


@media screen and (max-width: 800px) {

  .BoxxOrga {
    flex-direction: column;
    width: 95%;
  }
    
}


@media screen and (max-width: 375px) {

  .appart-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    font-weight: 400;
    width: 100%;
  }
  
  .tag {
    border-radius: 11px;
    color:white;
    background-color: #FF6060;
    padding: 5px 20px;
    font-weight: 500;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
    
}