* {
  padding:0px;
  margin:0px;
  text-decoration:none;
}

.NavContainer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  margin-top: 10px;
}

.NavContainerCategories {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 20%;
  font-size: 17px;
}

.logo-kasa {
  background: cover;
  width: 150px;
}



@media screen and (max-width: 800px) {

  .NavContainer {
    justify-content: center;   
  }
  
  .NavContainerCategories {
    justify-content: center;
  }
  
}

@media screen and (max-width: 375px) {

  .NavContainer {
    margin-bottom: 15px;
  }
  
  .NavContainerCategories {
    justify-content: center;
    width: 70%;
  }

  .logo-kasa {
    background: cover;
    width: 110px;
  }
  
}