.Accord-Ap {
  width:70%;
  height:30px;
  border-radius: 3px;
  margin-bottom:20px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;

}

.AccordVisible-Ap {
  background:#FF6060;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px;
  border-radius: 10px;
}

.Titre-Ap {
font-size: 20px;
color:rgb(255, 255, 255);
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
}

.ImgChevron-Ap {
  width:5%;
  filter:invert(100%);
}

.ImgChevron-Ap-inverse {
  width:5%;
  transform: rotate(180deg);
  filter:invert(100%);
}

.AccordToggle-Ap {
font-size: 18px;
opacity:1;
background-color:#F6F6F6;
border-radius: 10px;
transition:
height  0.4s ease-in-out;
}

.Animated-Ap {
  transition:
  height 0.4s 0.4s ease-in-out,
 
}


.Texte-Ap {
opacity: 0;
margin: 0;
padding: 22px 15px;
pointer-events: none;
line-height: 1.3;
color:#FF6060;
text-align:justify;
transition:
opacity  0.4s ease-in-out;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;

}

.Animated-Texte-Ap {
  opacity:1;
  transition:
  opacity 0.4s 0.6s ease-in-out,
}


@media screen and (max-width: 800px) {

  .Accord-Ap {
    width: 90%;
  }
  
}