.Footer {
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 20px;
  margin-top: 45px; 
}

.LogoFooter {
  width: 80px;
  color: white;
  filter:invert(100);
  margin-right: 30px;
}

.FooterTexte {
  color:white;
  margin-right: 30px;
}

