

.Footer {
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 20px;
  margin-top: 0px; 
}

.LogoFooter {
  width: 80px;
  color: white;
  margin-right: 30px;
}

.FooterTexte {
  color:white;
  margin-right: 30px;
}

@media screen and (max-width: 800px) {


}



@media screen and (max-width: 375px) {

  .Footer {
    padding: 60px;
    gap:0px;
    margin-top: 15px; 
  }

  .FooterTexte {
    width: 140px;
  }
  
}